<div class="container mt-5">
  <form
    (ngSubmit)="isValid() && registerForm.valid && register()"
    #registerForm="ngForm"
  >
    <div class="row justify-content-center">
      <div class="col-4 mb-5">
        <img
          src="https://mamaearthp.imgix.net/wysiwyg/mamaearth-logo.png?auto=format&fit=scale"
          alt=""
          width="300"
          height="75"
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          required
          minlength="3"
          [(ngModel)]="userForm.username"
          #email="ngModel"
        />
        <small class="text-danger" *ngIf="!email.valid"
          >Email is required</small
        >
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          required
          minlength="3"
          [(ngModel)]="userForm.password"
          #password="ngModel"
        />
        <small class="text-danger" *ngIf="!password.valid"
          >Password is required</small
        >
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 mb-3">
        <label class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          name="confirmPassword"
          required
          minlength="3"
          [(ngModel)]="userForm.confirmPassword"
          #confirmPassword="ngModel"
          (ngModelChange)="validate()"
        />
        <small class="text-danger" *ngIf="!confirmPassword.valid"
          >Confirm Password is required</small
        >
        <small class="text-danger" *ngIf="errorMessage.length > 0">{{
          errorMessage
        }}</small>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 mb-3">
        Already registered?
        <a routerLink="/login" class="text-decoration-none">Login</a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 mb-3">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </form>
</div>
